@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

/* ------------------------ Header Styles ------------------------ */

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.6rem;
  height: 60px;
  /* margin-bottom: 0.8rem; */
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 180px;
  /* width: 20%; */
}

.menu-icon {
  border-radius: 10rem;
  padding: 0.6rem 0.8rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.menu-icon svg {
  margin-top: 0.2rem;
}

.menu-icon:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: -1px;
  user-select: none;
}

.header-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  /* width: 60%; */
}

.search-container {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.4rem;
  max-width: 600px;
  width: 100%;
  user-select: none;
}

.search-container input {
  border: none;
  border-radius: inherit;
  font-size: 1.6rem;
  outline: none;
  padding: 0.6rem 2rem;
  width: 100%;
}

.search-container button {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-left: 1px solid rgb(204, 204, 204);
  border-radius: 0 10rem 10rem 0;
  cursor: pointer;
  outline: none;
  padding: 0.6rem 2.2rem;
}

.search-container button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.mic-icon {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10rem;
  padding: 1rem 1.2rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.mic-icon svg {
  margin-top: 0.2rem;
}

.mic-icon:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  min-width: 182px;
  /* width: 20%; */
}

.header-right div {
  border-radius: 10rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.header-right div:last-child {
  padding: 0.8rem 1rem;
}

.header-right div:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

/* ------------------------ Body Styles ------------------------ */

.body {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
}

/* ------------------------ SidebarSmall Styles ------------------------ */

.sidebar-small {
  background-color: #fff;
  display: inline-block;
  padding-left: 0.4rem;
  user-select: none;
  position: sticky;
  top: 60px;
}

.sidebar-small > div {
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.8rem 0.3rem;
  cursor: pointer;
}

.sidebar-small > div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-small > div > p {
  margin-top: 0.8rem;
}

/* ------------------------ SidebarLarge Styles ------------------------ */

.sidebar-large {
  background-color: #fff;
  display: inline-block;
  padding-left: 1rem;
  user-select: none;
  position: sticky;
  top: 60px;
}

.sidebar-large .sidebar-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1rem 0;
}

.sidebar-large .sidebar-section > div {
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 8rem 1rem 1.55rem;
  cursor: pointer;
}

.sidebar-large .sidebar-section > div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-large .sidebar-section > div > p {
  font-size: 1.4rem;
  margin-left: 2.6rem;
  margin-top: 0.2rem;
}

/* ------------------------ Main Styles ------------------------ */

.main {
  background-color: #fff;
  flex-grow: 1;
  /* width: 100%; */
  margin-left: 3rem;
}

/* ------------------------ RecentLinks Styles ------------------------ */

.recent-links {
  background-color: #fff;
  height: 60px;
  overflow: hidden;
  position: sticky;
  top: 60px;
  z-index: 10;
}

.recent-link {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  display: inline-block;
  padding: 0.8rem 1rem;
  margin: 1.2rem 1.2rem 1.2rem 0;
  cursor: pointer;
  user-select: none;
}

.recent-link:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.recent-link > p {
  font-size: 1.4rem;
}

/* ------------------------ VideoSection Styles ------------------------ */

.video-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 1.4rem;
}

/* ------------------------ VideoCard Styles ------------------------ */

.video-card {
  width: 338px;
  margin-right: 1.6rem;
  margin-bottom: 5rem;
}

.video-card-thumbnail {
  position: relative;
  user-select: none;
}

.video-card-thumbnail .video-thumbnail {
  border-radius: 1.2rem;
  height: 190px;
}

.video-card-thumbnail .video-thumbnail img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-card-thumbnail .video-timestamp {
  background-color: #282828;
  border-radius: 0.4rem;
  color: #fff;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.video-card-thumbnail .video-timestamp p {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
}

.video-card-details {
  display: flex;
}

.video-card-details .video-channel .video-channel-image {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10rem;
  height: 36px;
  width: 36px;
  margin: 1.2rem 1.2rem 0 0;
}

.video-card-details .video-details {
  padding-top: 1.2rem;
}

.video-card-details .video-details .video-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  max-height: 5rem;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.video-card-details .video-details .channel-title {
  color: #606060;
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  margin-bottom: 0.6rem;
}

.video-card-details .video-details .video-stats {
  color: #606060;
  display: flex;
}

.video-card-details .video-details .video-viewcount {
  font-size: 1.4rem;
}

.video-card-details .video-details .interpunct {
  font-weight: 700;
  margin: 0 0.4rem;
}

.video-card-details .video-details .video-publish-time {
  font-size: 1.4rem;
}

/* ------------------------ VideoWatch Styles ------------------------ */

.video-watch {
  display: flex;
  justify-content: center;
}

.video-watch .video-section {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  width: 1000px;
  padding: 2.4rem 2.4rem 0 0;
  margin-left: 2.4rem;
}

.video-watch .video-section .video-stream {
  border-radius: 1.2rem;
  height: 544px;
  width: 967px;
  margin-bottom: 1.5rem;
}

.video-watch .video-section .video-stream iframe {
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.video-watch .video-section .video-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.video-watch .video-section .video-info {
  display: flex;
  margin-bottom: 1.6rem;
  width: 100%;
}

.video-watch .video-section .video-info .channel-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.video-watch .video-section .video-info .channel-section .channel-image {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10rem;
  height: 40px;
  width: 40px;
  margin-right: 1.4rem;
}

.video-watch .video-section .video-info .channel-section .channel-info {
  margin-right: 2.8rem;
}

.video-watch .video-section .video-info .channel-section .channel-info h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.video-watch .video-section .video-info .channel-section .channel-info p {
  color: #606060;
  font-size: 1.2rem;
}

.video-watch .video-section .video-info .channel-section .subscribe-btn {
  background-color: #282828;
  border: none;
  border-radius: 10rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 1.6rem;
  cursor: pointer;
  user-select: none;
}

.video-watch .video-section .video-info .channel-section .subscribe-btn:hover {
  background-color: #282828ec;
}

.video-watch .video-section .video-info .video-options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.video-watch .video-section .video-info .video-options > div {
  display: flex;
}

.video-watch .video-section .video-info .video-options .option-btn {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0rem 2rem;
  margin-right: 0.8rem;
  cursor: pointer;
  user-select: none;
}

.video-watch .video-section .video-info .video-options .option-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.video-watch .video-section .video-info .video-options .option-btn svg {
  margin-right: 0.8rem;
}

.video-watch .video-section .video-info .video-options .like-btn {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10rem 0 0 10rem;
  margin-right: 0;
}

.video-watch .video-section .video-info .video-options .dislike-btn {
  border-radius: 0 10rem 10rem 0;
}

.video-watch .video-section .video-info .video-options .more-btn svg {
  margin-right: 0;
}

.video-watch .video-section .video-description {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
  font-size: 1.4rem;
  padding: 1.4rem;
  width: 100%;
}

.video-watch .video-section .video-description .video-stats {
  display: flex;
  margin-bottom: 0.4rem;
}

.video-watch .video-section .video-description .video-stats p {
  font-weight: 500;
  margin-right: 1rem;
}

.video-watch .video-section .video-description pre {
  white-space: pre-wrap;
}

.video-watch .suggested-video-section {
  /* flex-grow: 1; */
  padding: 2.4rem 2.4rem 0 0;
}
