@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
  --bg-clr: #fff;
  --text-clr: #282828;
  --text-light: #606060;
  --border-clr: rgb(204, 204, 204);
  --btn-bg: rgba(0, 0, 0, 0.05);
  --btn-bg-hover: rgba(0, 0, 0, 0.08);
  --subscribe-btn-hover: #282828ec;
  --search-bg-clr: #fff;
  --playlist-bg-clr: #595959cc;
}

.dark {
  --bg-clr: #000000;
  --text-clr: #fff;
  --text-light: #aaaaaa;
  --border-clr: rgb(48, 48, 48);
  --btn-bg: rgba(61, 61, 61, 0.576);
  --btn-bg-hover: rgb(61, 61, 61);
  --subscribe-btn-hover: #d9d9d9;
  --search-bg-clr: rgb(42, 42, 42);
  --playlist-bg-clr: #595959cc;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

a {
  color: var(--text-clr);
  text-decoration: none;
}

/* ------------------------ Header Styles ------------------------ */

.header {
  background-color: var(--bg-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0.4rem 1.6rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 180px;
}

.menu-icon {
  border-radius: 10rem;
  padding: 0.6rem 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.menu-icon svg {
  margin-top: 0.4rem;
}

.menu-icon:hover {
  background-color: var(--btn-bg-hover);
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-container h1 {
  color: var(--text-clr);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -1px;
  user-select: none;
}

.header-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.search-container {
  border: 1px solid var(--border-clr);
  border-radius: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.4rem;
  max-width: 600px;
  width: 100%;
  user-select: none;
  position: relative;
}

.search-container input {
  background-color: var(--bg-clr);
  border: none;
  border-radius: inherit;
  color: var(--text-clr);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  outline: none;
  padding: 0.6rem 2rem;
  width: 100%;
}

.search-container button {
  background-color: var(--btn-bg);
  border: none;
  border-left: 1px solid var(--border-clr);
  border-radius: 0 10rem 10rem 0;
  cursor: pointer;
  outline: none;
  padding: 0.6rem 2.2rem;
}

.search-container .search-results {
  background-color: var(--search-bg-clr);
  border-radius: 1.2rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.22);
  color: var(--text-clr);
  width: 90%;
  padding: 1.5rem 0;
  position: absolute;
  top: 40px;
  z-index: 100;
}

.search-container .search-results .search-result {
  display: flex;
  font-size: 1.6rem;
  list-style-type: none;
  padding: 0.4rem 1.6rem;
  cursor: pointer;
}

.search-container .search-results .search-result:hover {
  background-color: var(--btn-bg-hover);
}

.search-container .search-results .search-result svg {
  margin-top: 0.4rem;
  margin-right: 1rem;
}

.search-container button:hover {
  background-color: var(--btn-bg-hover);
}

.mic-icon {
  background-color: var(--btn-bg);
  border-radius: 10rem;
  padding: 0.6rem 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.mic-icon svg {
  margin-top: 0.4rem;
}

.mic-icon:hover {
  background-color: var(--btn-bg-hover);
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.header-right div {
  border-radius: 10rem;
  cursor: pointer;
  padding: 1rem 1.2rem;
  margin-right: 1.5rem;
}

.header-right div:last-child {
  padding: 0.6rem 0.8rem;
}

.header-right div:hover {
  background-color: var(--btn-bg-hover);
}

/* ------------------------ Body Styles ------------------------ */

.body {
  background-color: var(--bg-clr);
  display: flex;
  align-items: flex-start;
}

/* ------------------------ SidebarSmall Styles ------------------------ */

.sidebar-small {
  background-color: var(--bg-clr);
  display: inline-block;
  padding-left: 0.4rem;
  user-select: none;
  position: sticky;
  top: 60px;
}

.sidebar-small > div {
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.9rem 0.3rem;
  cursor: pointer;
}

.sidebar-small > div:hover {
  background-color: var(--btn-bg);
}

.sidebar-small > div > p {
  color: var(--text-clr);
  margin-top: 0.8rem;
}

/* ------------------------ SidebarLarge Styles ------------------------ */

.sidebar-large {
  background-color: var(--bg-clr);
  display: inline-block;
  padding-left: 1rem;
  user-select: none;
  position: sticky;
  top: 60px;
}

.sidebar-large .sidebar-section {
  border-bottom: 1px solid var(--btn-bg-hover);
  padding: 1rem 0;
}

.sidebar-large .sidebar-section > div {
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.9rem 8rem 0.8rem 1.9rem;
  cursor: pointer;
}

.sidebar-large .sidebar-section > div:hover {
  background-color: var(--btn-bg);
}

.sidebar-large .sidebar-section > div > p {
  color: var(--text-clr);
  font-size: 1.4rem;
  margin-left: 2.6rem;
  margin-top: 0.2rem;
}

/* ------------------------ Main Styles ------------------------ */

.main {
  background-color: var(--bg-clr);
  flex-grow: 1;
  /* max-width: 1200px; */
  margin: auto;
  padding: 0 2rem;
}

.main .search-container {
  display: none;
}

/* ------------------------ RecentLinks Styles ------------------------ */

.recent-links {
  background-color: var(--bg-clr);
  height: 60px;
  overflow: hidden;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.recent-link {
  background-color: var(--btn-bg);
  border-radius: 0.8rem;
  display: inline-block;
  padding: 0.8rem 1rem;
  margin: 1.2rem 1.2rem 1.2rem 0;
  cursor: pointer;
  user-select: none;
}

.recent-link:hover {
  background-color: var(--btn-bg-hover);
}

.recent-link > p {
  color: var(--text-clr);
  font-size: 1.4rem;
}

/* ------------------------ VideoSection Styles ------------------------ */

.video-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.4rem;
}

.video-section a {
  border-radius: 1.2rem;
  /* width: 338px; */
  min-width: 270px;
  max-width: 338px;
  flex: 1;
  margin-right: 1.6rem;
  margin-bottom: 5rem;
}

/* ------------------------ VideoCard Styles ------------------------ */

.video-card {
  border-radius: inherit;
}

.video-card-thumbnail {
  position: relative;
  user-select: none;
}

.video-card-thumbnail .video-thumbnail {
  border-radius: 1.2rem;
  height: 190px;
}

.video-card-thumbnail .video-thumbnail img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-card-thumbnail .video-timestamp {
  background-color: #282828;
  border-radius: 0.4rem;
  color: #fff;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.video-card-thumbnail .video-timestamp p {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
}

.video-card-details {
  display: flex;
}

.video-card-details .video-channel .video-channel-image {
  background-color: var(--btn-bg);
  border-radius: 10rem;
  height: 36px;
  width: 36px;
  margin: 1.2rem 1.2rem 0 0;
}

.video-card-details .video-channel .video-channel-image img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-card-details .video-details {
  padding-top: 1.2rem;
}

.video-card-details .video-details .video-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  max-height: 5rem;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.video-card-details .video-details .channel-title {
  color: var(--text-light);
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  margin-bottom: 0.6rem;
}

.video-card-details .video-details .video-stats {
  color: var(--text-light);
  display: flex;
}

.video-card-details .video-details .video-viewcount {
  font-size: 1.4rem;
}

.video-card-details .video-details .interpunct {
  font-weight: 600;
  margin: 0 0.4rem;
  margin-top: 0.4rem;
}

.video-card-details .video-details .video-publish-time {
  font-size: 1.4rem;
}

/* ------------------------ VideoWatch Styles ------------------------ */

.video-watch {
  background-color: var(--bg-clr);
  color: var(--text-clr);
  display: flex;
  justify-content: center;
}

.video-watch .video-section {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  height: 50.6vw;
  padding: 0;
  margin: 2rem auto;
}

.video-watch .video-section .video-stream {
  border-radius: 1.2rem;
  box-shadow: 0px 0px 300px 60px rgba(255, 255, 255, 0.275);
  height: 100%;
  width: 100%;
  margin-bottom: 1.2rem;
  user-select: none;
}

.video-watch .video-section .video-stream iframe {
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.video-watch .video-section .video-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.video-watch .video-section .video-info {
  display: flex;
  margin-bottom: 1.6rem;
  width: 100%;
}

.video-watch .video-section .video-info .channel-section {
  display: flex;
  align-items: center;
  flex-grow: 4;
}

.video-watch .video-section .video-info .channel-section .channel-info {
  display: flex;
  margin-right: 2.8rem;
}

.video-watch .video-section .video-info .channel-section .channel-image {
  background-color: var(--btn-bg);
  border-radius: 10rem;
  height: 40px;
  width: 40px;
  margin-right: 1.4rem;
}

.video-watch .video-section .video-info .channel-section .channel-image img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-watch .video-section .video-info .channel-section .channel-data h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.video-watch .video-section .video-info .channel-section .channel-data p {
  color: var(--text-light);
  font-size: 1.2rem;
}

.video-watch .video-section .video-info .channel-section .subscribe-btn {
  background-color: var(--text-clr);
  border: none;
  border-radius: 10rem;
  color: var(--bg-clr);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.6rem;
  cursor: pointer;
  user-select: none;
}

.video-watch .video-section .video-info .channel-section .subscribe-btn:hover {
  background-color: var(--subscribe-btn-hover);
}

.video-watch .video-section .video-info .video-options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.video-watch .video-section .video-info .video-options > div {
  display: flex;
}

.video-watch .video-section .video-info .video-options .option-btn {
  background-color: var(--btn-bg);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  height: 40px;
  padding: 0rem 2rem;
  margin-right: 0.8rem;
  cursor: pointer;
  user-select: none;
}

.video-watch .video-section .video-info .video-options .option-btn:hover {
  background-color: var(--btn-bg-hover);
}

.video-watch .video-section .video-info .video-options .option-btn svg {
  margin-right: 0.8rem;
}

.video-watch .video-section .video-info .video-options .like-btn {
  border-right: 1px solid var(--btn-bg-hover);
  border-radius: 10rem 0 0 10rem;
  margin-right: 0;
}

.video-watch .video-section .video-info .video-options .dislike-btn {
  border-radius: 0 10rem 10rem 0;
}

.video-watch .video-section .video-info .video-options .more-btn svg {
  margin-right: 0;
}

.video-watch .video-section .video-description {
  background-color: var(--btn-bg);
  border-radius: 1.2rem;
  font-size: 1.4rem;
  height: 150px;
  width: 100%;
  padding: 1.4rem;
  margin-bottom: 2rem;
  overflow: auto;
}

.video-watch .video-section .video-description .video-stats {
  display: flex;
  margin-bottom: 0.4rem;
}

.video-watch .video-section .video-description .video-stats p {
  font-weight: 500;
  margin-right: 1rem;
}

.video-watch .video-section .video-description pre {
  white-space: pre-wrap;
}

.video-watch .suggested-video-section {
  /* flex-grow: 1; */
  padding: 2.4rem 2.4rem 0 0;
}

/* ------------------------ ResultPage Styles ------------------------ */

.result-page {
  max-width: 1200px;
  margin: auto;
  padding-left: 0.2rem;
}

/* ------------------------ ChannelContent Styles ------------------------ */

.channel-content {
  border-bottom: 1px solid var(--border-clr);
  display: flex;
  align-items: center;
  padding: 1rem 0 2.6rem;
  margin-bottom: 2.4rem;
  cursor: pointer;
}

.channel-content .channel-content-image {
  width: 300px;
  margin-right: 1rem;
}

.channel-content .channel-image {
  border-radius: 10rem;
  height: 136px;
  width: 136px;
  margin: auto;
}

.channel-content .channel-image img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.channel-content .channel-data {
  flex-grow: 1;
  padding: 0 2rem 2rem 0;
}

.channel-content .channel-data .subscribe-btn {
  display: none;
}

.channel-content .channel-data .channel-title {
  margin-bottom: 0.6rem;
}

.channel-content .channel-data .channel-title h2 {
  color: var(--text-clr);
  font-size: 1.8rem;
  font-weight: 500;
}

.channel-content .channel-data .channel-info {
  color: var(--text-light);
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.channel-content .channel-data .channel-info .interpunct {
  font-weight: 600;
  margin: 0 0.4rem;
}

.channel-content .channel-data .channel-description {
  color: var(--text-light);
  font-size: 1.2rem;
}

.channel-content .subscribe-btn {
  background-color: var(--text-clr);
  border: none;
  border-radius: 10rem;
  color: var(--bg-clr);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.6rem;
  cursor: pointer;
  user-select: none;
}

.channel-content .subscribe-btn:hover {
  background-color: var(--subscribe-btn-hover);
}

/* ------------------------ PlaylistContent Styles ------------------------ */

.playlist-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  cursor: pointer;
}

.playlist-content .playlist-thumbnail {
  width: 360px;
  margin-right: 1.4rem;
  position: relative;
}

.playlist-content .playlist-thumbnail .playlist-thumbnail-image {
  border-radius: 1.2rem;
  height: 202px;
  width: 100%;
}

.playlist-content .playlist-thumbnail .playlist-thumbnail-image img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.playlist-content .playlist-thumbnail .playlist-video-count {
  background-color: var(--playlist-bg-clr);
  border-radius: 0 0 1.2rem 1.2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.playlist-content .playlist-thumbnail .playlist-video-count p {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  text-align: right;
}

.playlist-content .playlist-details {
  flex-grow: 1;
}

.playlist-content .playlist-details .playlist-data {
  display: flex;
}

.playlist-content .playlist-details .playlist-data .playlist-channel-image {
  display: none;
}

.playlist-content
  .playlist-details
  .playlist-data
  .playlist-info
  .playlist-title
  h2 {
  color: var(--text-clr);
  font-size: 1.8rem;
  font-weight: 500;
}

.playlist-content
  .playlist-details
  .playlist-data
  .playlist-info
  .playlist-stats {
  color: var(--text-light);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

.playlist-content .playlist-details .playlist-btn {
  background-color: transparent;
  border: none;
  color: var(--text-light);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

/* ------------------------ VideoContent Styles ------------------------ */

.video-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  cursor: pointer;
}

.video-content .video-thumbnail {
  max-width: 360px;
  width: 55%;
  margin-right: 1.4rem;
  position: relative;
}

.video-content .video-thumbnail .video-thumbnail-image {
  border-radius: 1.2rem;
  height: 202px;
  width: 100%;
}

.video-content .video-thumbnail .video-thumbnail-image img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-content .video-thumbnail .video-timestamp {
  background-color: #282828;
  border-radius: 0.4rem;
  color: #fff;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.video-content .video-thumbnail .video-timestamp p {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
}

.video-content .video-details {
  flex-grow: 1;
}

.video-content .video-details .video-data {
  display: flex;
}

.video-content .video-details .video-data .video-channel-image {
  display: none;
}

/* checkthis put-------------- in media queries */
/* .video-content .video-details .video-data .video-channel-image .channel-image {
  background-color: var(--btn-bg-hover);
  border-radius: 10rem;
  height: 24px;
  width: 24px;
  margin-right: 0.8rem;
} */

.video-content
  .video-details
  .video-data
  .video-info
  .video-stats
  p:first-child {
  display: none;
}

.video-content
  .video-details
  .video-data
  .video-info
  .video-stats
  p:nth-child(2) {
  display: none;
}

.video-content .video-details .video-data .video-info .video-title h2 {
  color: var(--text-clr);
  font-size: 1.8rem;
  font-weight: 500;
}

.video-content .video-details .video-data .video-info .video-stats {
  color: var(--text-light);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.video-content .video-details .video-data .video-info .video-stats .interpunct {
  font-weight: 600;
  margin: 0 0.4rem;
}

.video-content .video-details .video-channel {
  color: var(--text-light);
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 1rem 0;
}

.video-content .video-details .video-channel .channel-image {
  background-color: var(--btn-bg-hover);
  border-radius: 10rem;
  height: 24px;
  width: 24px;
  margin-right: 0.8rem;
}

.video-content .video-details .video-channel .channel-image img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video-content .video-details .video-description {
  color: var(--text-light);
  font-size: 1.2rem;
}

/* ------------------------ MediaQuery Styles ------------------------ */

@media (max-width: 1250px) {
  .sidebar-large {
    display: none;
  }
}

@media (max-width: 1050px) {
  .header-right div {
    margin-right: 1rem;
  }

  .playlist-content .playlist-thumbnail {
    max-width: 300px;
  }
  .playlist-content .playlist-thumbnail .playlist-thumbnail-image {
    height: 160px;
  }

  .video-content .video-thumbnail {
    max-width: 300px;
  }
  .video-content .video-thumbnail .video-thumbnail-image {
    height: 160px;
  }

  .video-watch .video-section .video-info .video-options .option-btn {
    padding: 0 1rem;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 60%;
  }

  .header-right div {
    margin-right: 0.8rem;
  }
  .header-right div svg {
    width: 22px;
  }
  .header-right div {
    padding: 1rem 1.4rem;
  }
  .header-right div:last-child {
    padding: 0.6rem 1.2rem;
  }
  .header-right div:last-child svg {
    width: 26px;
  }

  .channel-content .channel-data .channel-description {
    display: none;
  }
  .channel-content .subscribe-btn {
    display: none;
  }
  .channel-content .channel-data .subscribe-btn {
    display: block;
    margin-top: 1rem;
  }

  .playlist-content {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .playlist-content .playlist-thumbnail {
    max-width: 360px;
  }
  .playlist-content .playlist-thumbnail .playlist-thumbnail-image {
    height: 202px;
  }
  .playlist-content .playlist-details .playlist-data .playlist-channel-image {
    display: block;
  }
  .playlist-content .playlist-details .playlist-data {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
  }
  .playlist-content .playlist-details .playlist-data .playlist-channel-image {
    border: none;
    margin: 0 1rem;
  }
  .playlist-content
    .playlist-details
    .playlist-data
    .playlist-channel-image
    .channel-image {
    background-color: var(--btn-bg);
    border-radius: 10rem;
    height: 36px;
    width: 36px;
  }
  .playlist-content
    .playlist-details
    .playlist-data
    .playlist-channel-image
    .channel-image
    img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .playlist-content .playlist-details {
    width: 100%;
  }
  .playlist-content
    .playlist-details
    .playlist-data
    .playlist-info
    .playlist-stats {
    margin-bottom: 0.2rem;
  }
  .playlist-content .playlist-details .playlist-btn {
    margin-left: 54px;
  }

  .video-content {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .video-content .video-thumbnail {
    width: 360px;
    max-width: 360px;
  }
  .video-content .video-thumbnail .video-thumbnail-image {
    height: 202px;
  }
  .video-content .video-details .video-data .video-channel-image {
    display: block;
  }
  .video-content
    .video-details
    .video-data
    .video-info
    .video-stats
    p:first-child {
    display: block;
  }
  .video-content
    .video-details
    .video-data
    .video-info
    .video-stats
    p:nth-child(2) {
    display: block;
  }
  .video-content .video-details .video-data {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
  }
  .video-content .video-details .video-data .video-channel-image {
    border: none;
    margin: 0 1rem;
  }
  .video-content
    .video-details
    .video-data
    .video-channel-image
    .channel-image {
    background-color: var(--btn-bg);
    border-radius: 10rem;
    height: 36px;
    width: 36px;
  }
  .video-content
    .video-details
    .video-data
    .video-channel-image
    .channel-image
    img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .video-content .video-details {
    width: 100%;
  }
  .video-content .video-details .video-channel {
    display: none;
  }
  .video-content .video-details .video-description {
    display: none;
  }

  .video-watch .video-section .video-info .video-options .download-btn {
    display: none;
  }
}

@media (max-width: 880px) {
  .mic-icon {
    display: none;
  }

  .search-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .header-mid {
    display: none;
  }
  .header-right div {
    margin-right: 1.4rem;
  }

  .main .main-search-box {
    background-color: var(--bg-clr);
    position: sticky;
    top: 60px;
    z-index: 10;
    padding: 1rem;
  }
  .main .search-container {
    border-radius: 0.4rem;
    display: flex;
    width: 80%;
  }
  .main .search-container button {
    border-radius: inherit;
    background-color: transparent;
    border-left: none;
  }

  .recent-links {
    top: 114px;
  }
  .recent-links .recent-link:first-child {
    margin-left: 1rem;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 58%;
  }

  .menu-icon {
    margin-right: 0.8rem;
  }

  .search-container button {
    padding-right: 1rem;
  }

  .channel-content .channel-data .channel-info {
    flex-direction: column;
  }
  .channel-content .channel-data .channel-info .interpunct {
    display: none;
  }
  .channel-content .channel-content-image {
    width: 160px;
  }
  .channel-content .channel-image {
    height: 100px;
    width: 100px;
  }

  .video-watch .video-section .video-info .video-options .share-btn {
    display: none;
  }
}

@media (max-width: 600px) {
  .video-watch .video-section .video-title {
    font-size: 1.8rem;
  }
  .video-watch .video-section .video-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .video-watch .video-section .video-info .channel-section {
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
  }
  .video-watch .video-section .video-info .video-options {
    justify-content: space-between;
    padding: 2rem 1rem 0;
  }
  .video-watch .video-section .video-info .video-options .option-btn {
    display: flex;
  }
  .video-watch .video-section .video-info .video-options .option-btn svg {
    width: 16px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 56%;
  }

  .sidebar-small {
    display: none;
  }

  .main {
    padding: 0;
    padding: 0 1rem;
  }
  .main .search-container {
    width: 100%;
  }

  .channel-content .channel-content-image {
    width: unset;
  }

  .video-section a {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 440px) {
  .header {
    padding: 0;
  }
  .header-left {
    min-width: 0px;
    flex-grow: 1;
  }
  .menu-icon {
    margin: 0 0.4rem;
  }
  .header-right {
    flex-grow: 1;
  }
  .header-right div {
    display: none;
    margin-right: 0.6rem;
  }
  .header-right div:first-child {
    display: block;
  }
  .header-right div:last-child {
    display: block;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 0;
  }

  .result-page {
    padding-left: 0;
  }

  .playlist-content {
    width: 100vw;
  }
  .playlist-content .playlist-thumbnail {
    max-width: unset;
    width: 100vw;
  }
  .playlist-content .playlist-thumbnail .playlist-thumbnail-image {
    border-radius: 0;
    height: 56vw;
  }

  .video-content {
    width: 100vw;
  }
  .video-content .video-thumbnail {
    max-width: unset;
    width: 100vw;
  }
  .video-content .video-thumbnail .video-thumbnail-image {
    border-radius: 0;
    height: 56vw;
  }

  .channel-content .channel-content-image {
    margin-left: 2rem;
  }
  .channel-content .channel-content-image .channel-image {
    width: 80px;
    height: 80px;
  }

  .video-section a {
    border-radius: 0;
    max-width: 100vw;
  }

  .video-card-thumbnail .video-thumbnail {
    border-radius: 0;
  }
  .video-card .video-card-details {
    margin-left: 1rem;
  }

  .video-watch .video-section {
    width: 100vw;
    height: 56vw;
  }
  .video-watch .video-section .video-stream {
    border-radius: 0;
  }
  .video-watch .video-section .video-title {
    margin-left: 1rem;
  }
  .video-watch .video-section .video-info {
    margin-left: 1rem;
  }
}

@media (max-width: 385px) {
  .video-watch .video-section .video-info .video-options .download-btn {
    display: none;
  }
}

@media (max-width: 320px) {
  .header-right div {
    padding: 0.8rem 1.2rem;
  }
}
