@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
  --bg-clr: #fff;
  --text-clr: #282828;
  --text-light: #606060;
  --border-clr: rgb(204, 204, 204);
  /* --btn-bg: rgba(0, 0, 0, 0.05); */
  --btn-bg: #f2f2f2;
  --btn-bg-hover: rgba(0, 0, 0, 0.08);
  --subscribe-btn-hover: #282828ec;
  --search-bg-clr: #fff;
  --playlist-bg-clr: #595959cc;
  --comment-text-clr: #065fd4;
}

.dark {
  --bg-clr: #000000;
  --text-clr: #fff;
  --text-light: #aaaaaa;
  --border-clr: rgb(48, 48, 48);
  /* --btn-bg: rgba(61, 61, 61, 0.576); */
  --btn-bg: #232323;
  --btn-bg-hover: rgb(61, 61, 61);
  --subscribe-btn-hover: #d9d9d9;
  --search-bg-clr: rgb(42, 42, 42);
  --playlist-bg-clr: #595959cc;
  --comment-text-clr: #3ea6ff;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-size: 1rem;
}

a {
  color: var(--text-clr);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

input {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

/* ------------------------ MediaQuery Styles ------------------------ */

@media (max-width: 950px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 56%;
  }
}
