.live-chat-message {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.live-chat-message:hover {
  background-color: var(--btn-bg);
}

.live-chat-message .chat-message-thumbnail {
  width: 40px;
  padding: 0 0.6rem;
}

.live-chat-message .chat-message-details {
  display: flex;
  width: calc(100% - 40px);
}

.live-chat-message .chat-message-details h4 {
  color: var(--text-light);
  font-size: 1.4rem;
  padding-right: 1rem;
}

.live-chat-message .chat-message-details p {
  font-size: 1.4rem;
  max-width: 80%;
  overflow: auto;
}
