.main {
  background-color: var(--bg-clr);
  flex-grow: 1;
  /* max-width: 1200px; */
  width: calc(100% - 80px);
  margin: auto;
  padding: 0 2rem;
}

.main .search-container {
  display: none;
}

@media (max-width: 500px) {
  .main {
    padding: 0;
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 0;
  }
}
