.recent-links {
  background-color: var(--bg-clr);
  height: 60px;
  width: 100%;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.wrapper .icon {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80px;
  position: absolute;
  top: 0;
}

.icon:first-child {
  background: linear-gradient(90deg, var(--bg-clr) 70%, transparent);
  left: 0;
}

.icon:last-child {
  background: linear-gradient(-90deg, var(--bg-clr) 70%, transparent);
  justify-content: flex-end;
  right: 0;
}

.icon span {
  border-radius: 50%;
  font-size: 2.2rem;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.icon span:hover {
  background-color: var(--btn-bg-hover);
}

.icon:first-child span {
  margin-left: 15px;
}

.icon:last-child span {
  margin-right: 15px;
}

.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  padding: 0 5rem;
}

.tabs-box .tab {
  background-color: var(--btn-bg);
  border: 1px solid var(--border-clr);
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0.6rem 1.6rem;
  white-space: nowrap;
  cursor: pointer;
}
