.search-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
}

.search-page .left-arrow-icon {
  background-color: transparent;
  border: none;
  padding: 0 1.6rem;
}

@media (max-width: 320px) {
  .search-page .left-arrow-icon {
    padding: 0 0.8rem;
  }
}
