.sidebar-large {
  background-color: var(--bg-clr);
  display: inline-block;
  height: calc(100vh - 60px);
  width: 280px;
  padding-left: 1rem;
  padding-right: 2rem;
  position: fixed;
  top: 60px;
  /* It should be 60px from top as Header height is 60px */
  z-index: 100;
  overflow: auto;
  user-select: none;
}

.sidebar-large .sidebar-section {
  border-bottom: 1px solid var(--btn-bg-hover);
  padding: 1rem 0;
}

.sidebar-large .sidebar-section > div {
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.9rem 8rem 0.8rem 2rem;
  cursor: pointer;
}

.sidebar-large .sidebar-section > div.active {
  background-color: var(--btn-bg);
}

.sidebar-large .sidebar-section > div:hover {
  background-color: var(--btn-bg);
}

.sidebar-large .sidebar-section > div > p {
  color: var(--text-clr);
  font-size: 1.4rem;
  margin-left: 2.6rem;
  margin-top: 0.2rem;
}
