.video-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.4rem;
}

.video-section a {
  border-radius: 1.2rem;
  /* width: 338px; */
  min-width: 270px;
  max-width: 338px;
  flex: 1;
  margin-right: 1.6rem;
  margin-bottom: 5rem;
}

@media (max-width: 500px) {
  .video-section a {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  .video-section a {
    border-radius: 0;
    max-width: 100vw;
  }
}
